@model EF_Code.Models.Turler

@{
    ViewData["Title"] = "Details";
}

<h1 class="diplay-4">Kitap Tür Detayı</h1>
<div class="row">
    <div class="col-sm-3">
        Tür ID:
    </div>
    <div class="col-sm-5">
        @Model.Id
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        Kitap Türü:
    </div>
    <div class="col-sm-5">
        @Model.TurAd
    </div>
</div>
<a class="btn btn-primary" asp-action="Index">Kitap Türlerine Dön</a>