@model EF_Code.Models.Turler

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-3">Düzenle</h1>
<hr>
<div class="row">
    <div class="col-sm-6">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="TurAd" class="control-label"></label>
                <input type="text" asp-for="TurAd" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Değişikleri Kaydet" class="btn btn-outline-success">
            </div>
        </form>
    </div>

</div>