<div class="container d-flex justify-content-center flex-column align-items-center mt-5 p-5">
    <h1 class="display-1 text-primary">HOŞ GELDİNİZ</h1>
    <h4 class="display-3 text-black">
        Wissen Mobilya
    </h4>
    <p class="display-6 text-secondary">Ev ve ofislerinizin vazgeçilmez mobilyacısı</p>
</div>