@{
    ViewData["Title"] = "Home Page";
}

@model List<City>

<select name="nereden" class="form-select form-select-lg mb-3" style="width: 505px; height:53px;">
    @foreach (var item in Model)
    {
        <option>@item.CityName</option>
    }
</select>


