.error{
    padding: 10px;
    border: 1px dashed black;
    background-color: red;
    color: white;
    width: 150px;
    /* display: inline; */
}

.success{
    padding: 10px;
    border: 1px dashed black;
    background-color: green;
    color: yellow;
    width: 150px;
}