@{
    string[] adlar = { "Ali", "Murat", "Cemal", "Umay", "Sezen" };

    <ul>
        @{
            foreach (string ad in adlar)
            {
                <li>@ad</li>
            }
        }
    </ul>
}
