
<div class="row">
    <div class="col-md-12">
        <form asp-action="UploadImage" enctype="multipart/form-data">
            <div class="form-group">
                <label>Select Document</label><hr />
                <input type="file" name="file" value="Document" /> <!--Verilen isim önemli-->
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="UPLOAD" />
            </div>
        </form>
    </div>
</div>
