@{
    ViewData["Title"] = "Home Page";
}

<section id="slider">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3" checked>
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">
    <label for="s1" id="slide1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiZWMpH680XN8xKFIPmNPucwSe9s-O3J2BBxuSwdixjHPjk1xw" alt=""></label>
    <label for="s2" id="slide2"><img src="https://stephenkingbooks.co.uk/wp-content/uploads/2022/01/9781399705417-scaled.jpg" alt=""></label>
    <label for="s3" id="slide3"><img src="https://cdn.lifehack.org/wp-content/uploads/2015/03/1984.jpg" alt=""></label>
    <label for="s4" id="slide4"><img src="https://images-na.ssl-images-amazon.com/images/I/71F9rDLDgBL.jpg" alt=""></label>
    <label for="s5" id="slide5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq14MPJZzngiuUgiCi13sygFHiAANeE6VuJJ2oHBZeowSfwoxR" alt=""></label>
</section>


