@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var product in Model)
            {
            <div class="col-md-4">
                @* Partial view çağırmanın 2 yolu var;
                    1. Yol Html-Helper kullanmak
                    2. Tag-Helper kullanmak*@
                @await Html.PartialAsync("_Product", product)
            </div>
            }
        </div>
    </div>
</div>